[submodule "tools-build-with-cli"]
	path = extra/tools-build-with-cli
	url = git@github.com:mcci-catena/tools-build-with-cli.git
[submodule "extra/Arduino_Core_STM32"]
	path = extra/Arduino_Core_STM32
	url = git@github.com:mcci-catena/Arduino_Core_STM32.git
[submodule "extra/bootloader"]
	path = extra/bootloader
	url = git@github.com:mcci-catena/bootloader.git
[submodule "extra/dfu-util"]
	path = extra/dfu-util
	url = git://git.code.sf.net/p/dfu-util/dfu-util
