[submodule "tools-build-with-cli"]
	path = extra/tools-build-with-cli
	url = git@github.com:mcci-catena/tools-build-with-cli.git
[submodule "extra/Arduino_Core_STM32"]
	path = extra/Arduino_Core_STM32
	url = git@github.com:mcci-catena/Arduino_Core_STM32.git
